* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: radial-gradient(circle at 50% 62%, #1cc49a, #0870aa 88%) !important;
  overflow: hidden;
  padding: 4px;
  width: 100vw;
  height: 100vh;
}

*::-webkit-scrollbar {
  background-color: #0870aa;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1cc49a;
  border-radius: 16px;
}

.plinko-app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header, footer {
  width: 100%;
  height: 70px;
  position: relative;
}

main {
  width: 100%;
  height: calc(100% - 180px);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  border-radius: 12px;
}

.header-section > span {
  color: white;
  padding: 4px 16px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 20px;
  box-shadow: inset 1px 1px #fff1cd33;
  background-color: #017c80;
  font-size: 12px;
}

.sum-section {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  font-size: 12px;
}

.sum-section-currency {
  color: #ffffff80;
  padding: 0 4px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 12px;
  height: 20px;
  overflow-y: visible;
}

.game-board {
  width: 100%;
  display: flex;
  justify-content: center;
}

#canvas {
  position: relative;
  overflow: hidden;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas > canvas{
  height: calc(100vh - 150px);
}

.pin-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

#pin {
  font-size: inherit;
  color: #fff;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 20px;
  box-shadow: inset 1px 1px #fff1cd33;
  background-color: #017c80;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#pin-options {
  display: none;
}

.pin-options {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transform: translate(-1px, 26px);
  background: #0e5055;
  border-color: #083029;
  color: #b3dee2;
  border-radius: 8px;
  padding: 10px 15px 10px 10px;
  z-index: 1000;
  width: 150px;
  display: block !important;
}

.pin-options div {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  box-shadow: 0 0 10px black;
}

.selected-line {
  background-color: #017c80;
}

.pin-options div:hover {
  background-color: #017c80;
  cursor: pointer;
}

.slot-cost {
  height: 20px;
  border-radius: 10px;
  font-size: 12px;
  width: 60%;
  max-width: 800px;
  background-color: #0003;
  margin-left: 8px;
  position: relative;
  padding: 0 26px 0 2px;
  overflow: hidden;
  z-index: 1000;
}

.slot-cost-options {
  height: 200px;
  overflow-y: auto;
}

#slot-cost-change-button {
  width: 26px;
  border: solid 1px rgba(0, 0, 0, .53);
  box-shadow: inset 1px 1px #fff1cd33;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #017c80;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2px;
  top: 0;
  z-index: 2;
}

.slot-cost-span {
  color: #fff;
  border-radius: 10px;
  height: 16px;
  line-height: 16px;
  padding: 0 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  text-align: center;
}

.slot-cost-span-big{
  width: 80px;
  height: auto;
  cursor: pointer;
  text-transform: uppercase;
  padding: 8px;
}

.slot-cost-span-green {
  background: #204402;
}

.slot-cost-span-yellow {
  background: #984004;
}

.slot-cost-span-red {
  background: #980404;
}

.bet-tools {
  background: rgba(0, 0, 0, .3);
  border-radius: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bet-tools-nav {
  border: 1px solid rgba(0, 0, 0, .53);
  box-shadow: inset 1px 1px #fff1cd33;
  border-radius: 30px;
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #017c80;
  padding: 6px;
  justify-content: center;
}

.bet-tools-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 140px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  margin-left: 16px;
}

#bet-tools-points-amount {
  width: 142px;
  height: 22px;
  border-radius: 11px;
  border: solid 1px rgba(0, 0, 0, .6);
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  margin-top: 4px;
}

.bet-tools-points-adjustment {
  display: flex;
  width: 145px;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.bet-tools-points-increase,
.bet-tools-points-decrease {
  width: 36px;
  height: 32px;
  position: relative;
  cursor: pointer;
  background-color: #017c80;
  color: #fff;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 20px;
  box-shadow: inset 1px 1px #fff1cd33;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bet-tools-points-decrease {
  margin-left: 0;
  margin-right: 10px;
}

.bet-tools-points-increase:active,
.bet-tools-points-decrease:active {
  box-shadow: none;
}

.play-button {
  background-image: radial-gradient(circle at 50% 50%, #0576dc, #025cd5 68%);
  color: #fff;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, .9);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  text-transform: uppercase;
}

.play-button:active {
  color: #fff;
}